

h1 {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.9rem;
  color: white;
}
h2 {
  font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: regular;
  color: white;
  font-size: 1.4rem;
}

.MainContainer {
  line-height: 1.2em;
  text-align: right;
  padding: 2em 0 2em 0;
  /*min-height: 200px;*/
}
