

h1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.9rem;
  /* font-size: 2,5vh; */

  color: white;
}
h2 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: regular;
  color: white;
  font-size: 1.4rem;
}

.MainContainer {
  line-height: 1.2rem;
  text-align: right;
  padding: 2em 0 2em 0;
  /* min-height: 400px; */
}

@media all and (max-width: 750px) {
    .MainContainer {
    line-height: 1.8rem;
  }
}
