.App--FormContainer {
  grid-column: full;
  background: hsla(0, 0%, 100%, 0.95);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.InfoForm--Container {
  flex: 1 1 45%;
  min-width: 350px;  
  padding: 1rem;
  min-height: 20vh;
  margin-bottom: 20px;  
}

.MailForm--Container {
  flex: 1 1 45%;
  min-width: 350px;
  padding: 1rem;
  margin-bottom: 20px;
}

h3 {
  color: #ff6347;
}

.MailForm--Container_border {
  border: 3px solid hsl(36, 100%, 75%);
  border-radius: 20px;
}

.MailForm {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66, 66, 66, 1);
}

.InfoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.InfoForm--title, .MailForm--title {
  color: #424242;
  font-size: 1.6rem;
  font-weight: 400;
  height: auto;
  min-height: 30px;
  align-self: center;
}

.InfoForm > div {
  flex: 1 1 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66, 66, 66, 1);
  padding: 10px;
  margin: 10px;
}

div[class^="InfoForm--item"]>h4 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

div[class^="InfoForm--item"]>.Item--text {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 550px) and (max-width: 900px) {
  .InfoForm > div {
    /* margin: 10px 20px 10px 20px; */
    flex: 1 1 90%;
    /* margin: 0; */
    /* margin-bottom: 0; */
  }
  .InfoForm--Container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1265px) and (max-width: 2000px) {
  .InfoForm .InfoForm--item3 {
    flex: 0 1 450px;
  }
}