.instagramContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../img/dims.jpg');
  background-position: center;
  background-size: cover;
  flex-wrap: wrap;
}

.instagramContainer > * {
  min-width: 320px;
}



