.App--firstscreen {
  grid-column: full;
  display: grid;
  grid-template-columns:  [full-start] minmax(1em, 1fr) 
                          [main-start] minmax(0, 75em)
                          [main-end] minmax(1em, 1fr)
                          [full-end];
}
