.ButtonContainer {
  display: flex;
  grid-column: main;
  flex-wrap: wrap;
}

.ButtonWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  
}

.arrowDown {
  height: 120px;
  align-self: flex-end;
  margin: 0 auto 0 auto;
}

.button {
  height: 36px;
}

.costbutton {
  height: 37px;
}

@media (max-width: 480px) {
  .Buttons {
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
  }
  .button,
  .costbutton {
    width: 100%;
    align-self: center;
  }
}