* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns:
  [full-start] minmax(1em, 1fr)
  [main-start] minmax(0, 50em) [main-end]
  minmax(1em, 1fr) [full-end];
  grid-template-rows: 120px 400px 500px 1fr 415px 70px 100px;

}

.App--Header {
  grid-row: 1 / 2;
  grid-column: full;
  opacity: 0.6;
}

.App--Wrapper {
  background-image: url(../img/iphone_bg.jpg);
  grid-column: full;
  grid-row: 1 / 4;
}

.App--Intro {
  font-size: large;
  grid-row: 2 / 3;
  grid-column: main;
}

.App--RepairContainer {
  grid-row: 3 / 4;
  grid-column: main;
}

.App--Content {
  grid-column: main;
  grid-row: 2 / 3;
}

.App--SimpleMap {
  width: 100%;
  height: 400px;
  grid-column: full;
  grid-row: 4 / 5;
}

.App--FormContainer {
  grid-row: 5 / 6;
  grid-column: main;
}

.App--Social {
grid-row: 6 / 7;
grid-column: main;
}

.App--Footer {
 grid-row: 7 / 8;
 grid-column: full;
}
