html {
    /* font-family: Arial, Helvetica, sans-serif; */
    /*font-style: italic;*/
    /*font-weight: 400;*/
}

body {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    display: grid;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 75em) [main-end] minmax(1em, 1fr) [full-end];
    grid-template-rows: repeat(3, minmax(100vh, max-content));
    position: relative;
    min-width: 280px;
}

.App--Header {
    grid-column: full;
}

.App--firstscreen {
    background-image: url("../img/iphone_iphone_6_apple_101170_1920x1080.jpg");
    grid-column: full;
    grid-row: 1 / 2;
    background-size: cover;
    background-position: center;
}

/* .rewardsContainer { */
    /* grid-column: full; */
    /* height: 100vh; */
    /* grid-row: 2 / 3; */
/* } */

.instagramContainer {
    grid-column: full;
    /* height: 100vh; */
    grid-row: 2 / 3;
}

.App--forthscreen {
    background-image: url("../img/winterolympics9_v88ibt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: full;
    /* height: 100vh; */
    grid-row: 3 / 4;
}

/* .App--firstscreen > * {
  grid-column: full;
} */

.MainContainer {
    grid-column: main;
}

/* .ButtonContainer {
  grid-column: main;
} */

/* .App--RepairContainer {
  grid-column: main;
}

.App--SimpleMap {
  width: 100%;
  height: 400px;
  grid-column: full;
  grid-row: 3 / 4;
  margin: auto;
}

.App--Social {
  grid-row: 5 / 6;
  grid-column: main;
}

.App--Footer {
  grid-row: 6 / 7;
  grid-column: full;
} */