.App--Footer {
  height: 100px;
  background-color: #3469b0;
  color: white;
  /*text-align: center;*/
  /*padding: 10px;*/
  display: flex;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
}

.Footer--textContent {
  /*position: relative;*/
  height: 40px;

}

.Footer--author {
  height: 20px;
  line-height: 20px;
  padding: 4px;
  font-size: 0.6rem;

  position: relative;
  right: 0;
  bottom: 0;

  align-self: flex-end;
}

.Footer--author-email {
  color: #25202a;
  font-size: 0.7rem;
  font: Roboto;
}

.Footer--logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  display: inline-flex;
  /*align-self: center;*/
  margin-left: -10px;
}

.Footer--heartLogo {
  position: relative;
  top: 6px;
  height: 26px;
}

.reactSpan {
  color: #61dafb;
  letter-spacing: 0.01em;
  font-size: 1.4rem;
  display: inline-flex;
}

a.link {
  /*padding: 0;*/
  text-decoration: none;
  height: 40px;
  display: inline-flex;
}
a.link:link {
    text-decoration: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
