.App--FormContainer {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:40px 1fr 1fr;
  grid-column-gap: 1rem;
  background: #FFFFFF;
  width: 100%;
  height: 415px;

}

.InfoForm {
  grid-row: span 4;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr;
}

.InfoForm--title, .MailForm--title {
  padding-top: 5px;
  font-size: 1.6rem;
  font-weight: 400;
}

div[class^="InfoForm--item"] {
  border: 1px dotted tomato;
  display: flex;
  align-items: stretch;

  flex-direction: column;
  padding-left: 1rem;
}

div[class^="InfoForm--item"] > h4 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-right: auto;
  line-height: 0.8rem;

}

div[class^="InfoForm--item"] > .Item--text {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-right: auto;
}


.InfoForm--title {
  grid-row: span;
  grid-column: 1 / 3;
}

.InfoForm--item1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  /*border: 1px dotted black;*/
  border-radius: 5px;
}

.InfoForm--item2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /*border: 1px dotted black;*/
  border-radius: 5px;
}

.InfoForm--item3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  /*border: 1px dotted black;*/
  border-radius: 5px;
}

.InfoForm--item4 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  /*border: 1px dotted black;*/
  border-radius: 5px;
}



.MailForm {
  grid-row: span 4;
  grid-column: 3 / 5;
  border: 1px dotted black;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40px 1fr;
  padding-left: 20px;
  padding-right: 20px;
  

}

.MailForm--title {
  grid-row: span;
  grid-column: 1 / 2;
  border: 1px dotted black;
  border-radius: 5px;
}

.MailForm--content {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.MailForm--title {
 padding-top: 5px;
 font-size: 1.4rem;
 font-weight: 400;
}

/*.MailForm--Fields-Button {
 margin-right: auto;

}*/


/*@media screen and (min-width: 50em) {
    .App--FormContainer {grid-template-columns: 1fr 1fr}
    .InfoForm {}
    .MailForm {}
}*/
