.App--FormContainer {
  grid-column: full;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1rem;
  background: #ffffff;
  width: 100%;
}


.InfoForm--Container {
  padding: 1rem;
  min-height: 20vh;
}

.MailForm--Container {
  padding: 1rem;
}

.MailForm {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66, 66, 66, 1);
}

.InfoForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 1rem;
}

.InfoForm--title,
.MailForm--title {
  color: #424242;
  font-size: 1.6rem;
  font-weight: 400;
  height: auto;
  min-height: 30px;
  align-self: center;
}

div[class^="InfoForm--item"] {
  min-width: 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66, 66, 66, 1);
  padding-bottom: 10px;
}

div[class^="InfoForm--item"] > h4 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

div[class^="InfoForm--item"] > .Item--text {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: auto;
  width: auto;
}

@media (min-width: 1279px) and (max-width: 2000px) {
  .InfoForm--item3 {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;
    width: 500px;
  }
}
