.App--FormContainer {
  grid-column: full;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 1rem;
  background: #FFFFFF;
  width: 100%;
}

.InfoForm--Container {
  padding: 1rem;
  min-height: 20vh;

}

.MailForm--Container {
  padding: 1rem;
}

.MailForm {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66,66,66,1);
}

.InfoForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.InfoForm--title, .MailForm--title {
  /*padding-top: 5px;*/
  font-size: 1.6rem;
  font-weight: 400;
  height: auto;
  min-height: 30px;
  align-self: center;
  /*width: 300px;*/
}

div[class^="InfoForm--item"] {
  min-width: 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 31px -12px rgba(66,66,66,1);
  padding-bottom: 10px;
}

div[class^="InfoForm--item"] > h4 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
}

div[class^="InfoForm--item"] > .Item--text {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-right: auto;
  width: auto;
}

@media (min-width: 1315px) and (max-width: 2000px), (min-width: 645px) and (max-width: 815px) {
  .InfoForm--item3 {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;
    width: 450px;
  }
}

/*@media (min-width: 645px) and (max-width: 810px) {
  .InfoForm--item3 {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;
    width: 450px;
  }
}*/
