.App--Header {
  background-color: rgba(#ffffff, 0);

  color: ffffff;

  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 120px;
  min-width: 120px;
  grid-gap: 1rem;
  opacity: 0.6;

}

.Header--text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1,4rem;
  grid-column-start: 2 / 3;
  text-align: left;
}

.Header--logo {
  grid-column-start: 1 / 2;
  height: 80px;
  margin-left: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.Header--button {
  grid-column: 3 / 4;
  align-self: center;
}

@media screen and (max-width: 320px) {
    .Header--text {display: none;}
  .App--Header {grid-template-columns: 1fr}
  .Header--logo {margin-left: auto; margin-right: auto}
}
