.App--RepairContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  border: 1px dotted #8079a8;
}

.RepairContainer--select {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: auto;
  margin-right: auto;
}

.prices--list {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-left: auto;
  margin-right: auto;
}

.prices--list ul {
  padding: 0;
}

.prices--list li {
  list-style: none;
}

.prices--list li:nth-child(odd) {
  background: rgba(163, 122, 218, 0.19);
}

.prices--list li:nth-child(even) {
  background: white;
}
