.App--RepairContainer {
display: grid;
grid-template-rows: 75px 1fr;
grid-template-columns: 40px 1fr;
grid-gap: 1rem;
  width: 20em;
  margin-left: auto;
  margin-right: 2rem;
  min-width: 120px;
  min-height: 100px;
  height: 20rem;
  max-width: 40rem;
  /*border: 1px dotted bla#609acfck;*/

}

.RepairContainer--select {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-left: auto;
  margin-right: auto;



  /*border: 1px dotted black;*/
}

.prices--list {
  width: 100%;

  /*border: 1px dotted black;*/
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-left: auto;
  margin-right: auto;
}

.prices--list ul {
  padding: 0;
}

.prices--list li {
  list-style: none;
}

.prices--list li:nth-child(odd) {
  background: rgba(163, 122, 218, 0.19);
}

.prices--list li:nth-child(even) {
  background: white;
}
