.App--RepairContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.RepairContainer--ButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.RepairContainer--button {
  height: 36px;
}

.RepairContainer--costbutton {
  height: 37px;
}

@media (max-width: 480px) {
  .RepairContainer--ButtonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .RepairContainer--button,
  .RepairContainer--costbutton {
    width: 100%;
    align-self: center;
  }
}

.instagramContainer {
}
