.App--Social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  min-height: 70px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.social--logo {
  height: 50px;
  cursor: pointer;
}
.social--logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-out;
}
.social--logo:not(hover) {
  transform: scale(1.0);
  transition: transform 0.5s ease-in-out 0.2s;
}

@media screen and (max-width: 300px) {
    .Header--text {display: none;}
  .App--header {grid-template-columns: 1fr}
  .Header--logo {margin-left: auto; margin-right: auto}


}
