.App--Header {
  background-color: rgba(#ffffff, 0);
  color: ffffff;
  display: flex;
  height: 12vh;
  /* grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 120px; */
  min-width: 120px;
  opacity: 0.6;
}

.Header--text {
  margin-top: auto;
  font-size: 2rem;
  flex: 1;
  text-align: left;
  /* text-indent: 25px; */
  text-indent: 5vw;
  line-height: 1vh;
}

.Header--logo {
  flex: 0 0 15vw;
  object-fit: scale-down;
  height: 10vh;
  margin: auto;
}

.Header--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10vw;
  /* margin: auto; */
  /* width: 15vw; */
  height: 15vh;
}


@media all and (max-width: 400px) {
  .Header--logo {display: none;}
  .Header--button {
  margin: auto 0 auto auto;
}
  .Header--text {
    font-size: 1.6em;
    text-align: right;
    word-wrap: break-word;
    flex: 1 1 10vw;
    line-height: 2vh;
    
  }
}
