.App--Header {
  background-color: rgba(#ffffff, 0);
  color: ffffff;
  display: flex;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 120px;
  min-width: 120px;
  opacity: 0.6;
  grid-row: 1 / 2;
  grid-column: full;
}

.Header--text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1,4rem;
  flex: 1;
  text-align: left;
  text-indent: 25px;
}

.Header--logo {
  width: 200px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  align-self: centr;
}

.Header--button {
  width: 200px;
  height: 80px;
  align-self: center;
}


@media all and (max-width: 400px) {
  .Header--text {display: none;}
  .App--Header {grid-template-columns: 1fr 1fr}
  .Header--logo {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;
  }
}
