.App--Header {
  background-color: rgba(#ffffff, 0);
  color: ffffff;
  display: flex;
  height: 15vh;
  min-width: 300px;
  opacity: 0.6;
  align-items: center;
}

.Header--text {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  opacity: 1;
}

.Header--text > h2 {
  font-size: 2rem;
  text-align: left;
  min-width: 200px;
}

.Header--logo {
  flex: 0 1 250px;
  display: flex;
  min-width: 120px;
}

.Header--logo > img {
  flex: 0 0 15vw;
  object-fit: scale-down;
  height: 10vh;
  margin: auto;
}


.Header--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10vw;
  height: 15vh;
}


@media all and (max-width: 400px) {
  .Header--logo {display: none;}
  .Header--button {
  margin: auto 0 auto auto;
}
  .Header--text > h2 {
    font-size: 1.6em;
    text-align: center;
    flex: 1 1 10vw;
    line-height: 1.5rem;
  }
}

