.App {
  text-align: center;
  height: 2000px;
}

.Header--logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-left: 2%;
  /*border: 1px dotted white;*/
}

/*.Iphone--logo {
  height: 180px;
  border: 1px dotted white;
}*/

.Instagram--logo {
  height: 50px;
}

.App--header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.Header--text {
  text-indent: 50px;
  margin-left: auto;
}

.App-intro {
  font-size: large;
}

.SimpleMap {
  width: 100%;
  height: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
